@import 'reset';
@font-face {
	font-family:'OpenSans-Light';
	src:url('../fonts/OpenSans-Light.ttf');
}
@font-face {
	font-family:'PlayfairDisplay-Regular';
	src:url('../fonts/PlayfairDisplay-Regular.ttf');
}

$blue: #1485CC;
$ph46: #FBBA00;
$ph4650: #DF932C;
$ph5458: #D96A38;
$ph5862: #9E2C1D;
$grey: #F2F2F2;

.container{
	font-family: 'OpenSans-Light';
}

a{
	color: #fff;
	text-decoration: none;
}

header{
	grid-column: 1/4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #000;
	color: #fff;
	border-bottom: 1.5rem solid white;
	text-transform: uppercase;
	h1{
		grid-column: 2 / 3;
		text-align: center;
		img{
			width: 10rem;
			padding: 1.5rem;
		}
	}
	nav {
		grid-column-start: 3;
		grid-column-end: 4;
		align-self: flex-end;
		ul{
			display: flex;
			justify-content: center;

			li{
				padding: 1.5rem 1rem;
				font-size: 0.8rem;
				text-align: center;
				a:hover { 
					color: $blue;
				}
			}	
		}
	}
}


#beers-grid{
	grid-column: 1/4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 0.6rem;
	.beer-box{
		display: grid;
		grid-template-rows: 8rem 3rem 1fr 3rem;
		background-color: $grey;
		justify-content: center;
		text-align: center;
		align-items: center;
		padding: 2rem 1rem 1.4rem 1rem;
		.beer-img{
			height: 8rem;
			margin: 0 auto;
			grid-row: 1/2;
		}
		h2{
			font-size: 0.8rem;
			font-weight: bold;
			padding: 1rem 0 0.6rem 0;
			grid-row: 2/3;
		}
		.beer-desc{
			font-size: 0.7rem;
			grid-row: 3/4;
			padding-bottom: 0.8rem;
			align-self: start;
		}
		.beer-stats{
			grid-row: 4/5;
			display:flex;
			font-family: PlayfairDisplay-Regular;
			justify-content: center;
			div{
				font-size: 0.6rem;
				margin: 0.4rem 0.2rem;
				padding: 0.4rem 0.8rem;
				p{
					padding-bottom: 0.4rem;
				}span{
					font-size: 1rem;
				}
			}
			.beer-ph{
				color: #fff;
			}
			.beer-ph-46{
				background-color: $ph46;
			}
			.beer-ph-4650{
				background-color: $ph4650;
			}
			.beer-ph-5458{
				background-color: $ph5458;
			}
			.beer-ph-5862{
				background-color: $ph5862;
			}
		}
	}
}



footer{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 2rem;
	font-size: 0.8rem;
	.pagination{
		grid-column: 2 / 3;
		text-align: center;
	}
	.pagination a {
		padding: 0.4rem 0.8rem;
		text-decoration: none;
		color: #000;
	}
	.pagination a.active {
		background-color: dodgerblue;
		color: white;
	}
	.pagination a:hover:not(.active) {
		background-color: #ddd;
	}
}



//quick find styles

#beers-grid{
	.inner-container{
		grid-column: 1/4;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;

		.single-beer-box{
			display: grid;
			grid-template-columns: 1fr 3fr;
			grid-template-rows: 2rem 1.5rem 1fr 5rem 2.5rem;
			background-color: $grey;
			justify-content: center;
			text-align: center;
			align-items: center;
			padding: 2.5rem 12rem 3.5rem 12rem;
			img{
				height: 16rem;
				margin: 0 auto;
				grid-column:1/2;
				grid-row: 1/6;
				padding: 0 4rem;
			}
			h2{
				font-weight: bold;
				padding: 1rem;
				grid-row: 1/2;
			}
			h3{
				color: $blue;
				grid-row: 2/3;
				padding-bottom: 0.5rem;
				font-size: 0.9rem;
			}
			p{
				font-size: 0.7rem;
				grid-row: 3/4;
				padding-bottom: 0.6rem;
			}
			.beer-stats{
				grid-row: 4/5;
				display:flex;
				font-family: PlayfairDisplay-Regular;
				font-size: 0.8rem;
				justify-content: center;
				div{
					// line-height: 1.5;
					margin: 0.4rem 0.2rem;
					padding: 0.4rem 0.8rem;
				}
				.beer-ph{
					background-color: $ph4650;
					color: #fff;
				}
			}
			.ingredients{
				grid-column: 2/3;
				grid-row:5/6;
				color: #fff;
				text-transform: uppercase;
				font-size: 0.6rem;
				height: 2rem;
				margin: 0 4rem;
				background-color: $blue;
				padding: 0 1rem;
				border: none;
			}
		}
	}	

	.another-beer{
		color: #fff;
		text-transform: uppercase;
		font-size: 0.6rem;
		height: 3rem;
		margin: 2rem 4rem;
		background-color: $ph46;
		padding: 0 2rem;
		border: none;
	}
}

//modal
#modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 200px;
    width: 100%; 
    height: 100%; 
    background-color: #000;
    background-color: rgba(0,0,0,0.4); 
	.ingredients-modal {
	    background-color: $grey;
	    margin: auto;
	    width: 60%;
	    .modal-header{
	    	display: flex;
	    	justify-content: space-between;
	    	align-items: center;
	    	background-color: $blue;
	    	color: #fff;
	    	text-transform: uppercase;
	    	padding: 0.6rem 1rem;
	    	font-size: 0.8rem;
	    }
	    .modal-body{
	    	padding: 1.6rem;
	    	font-weight: bold;
	    	font-size: 0.9rem;
	    }
	}
	.close {
	    color: #fff;
	    border: none;
	    font-size: 1.4rem;
	    padding: none;
	    background-color: rgba(0,0,0,0);
	}
	.close:hover,
	.close:focus {
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
	}
}

//pickabeer styles

#pick-a-beer-form{
	//hidden upon homepage load
	display: none;
	width: 500px;
	background-color: $grey;
	margin: 1.6rem auto;
	text-transform: uppercase;
	padding: 40px;
	h3{
		color: $blue;
		font-weight: bold;
	}
	.search-items{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		grid-gap: 1rem;
		margin-top: 1.6rem;
		div{
			display: flex;
			justify-content: space-between;
		}
		.beer-name{
			grid-column: 1/4;
		}
		.beer-hops{
			grid-column: 4/7;
		}
		.beer-abv{
			grid-column: 1/3;
		}
		.beer-ibu{
			grid-column: 3/5;
		} .beer-ebc{
			grid-column: 5/7;
		}
		label{
			padding-right: 1rem;
			align-self: center;
		}
		input{
			height: 1.6rem;
		}
		.find-beer{
			grid-column: 5/7;
			color: #fff;
			text-transform: uppercase;
			font-size: 0.7rem;
			height: 2rem;
			background-color: $blue;
			padding: 0 1rem;
			margin-top: 0.6rem;
			border: none;
		}
	}
}
